# Pour le développement
NEXT_PUBLIC_SUPABASE_URL=xxxxxx
NEXT_PUBLIC_SUPABASE_ANON_KEY=xxxxxxxx

# Envs : DEVELOPMENT, PRODUCTION, STAGING
NEXT_PUBLIC_APP_ENV=DEVELOPMENT

NEXT_PUBLIC_APP_STATUS=online

NEXT_PUBLIC_API_URL=localhost:3000